.left-section{
    transform: translateX(-200px);
    filter: blur(20px);
    opacity: 0.6;
    animation: showContentLeft 0.6s linear 1 forwards;
}

.right-section{
    transform: translateX(200px);
    filter: blur(20px);
    opacity: 0.6;
    animation: showContentRight 0.6s linear 1 forwards;
}

.heading{
    transform: translateY(200px);
    filter: blur(20px);
    opacity: 0.6;
    animation: showHeading 0.6s linear 1 forwards;
}

.subHeading{
    transform: translateY(100px);
    filter: blur(20px);
    opacity: 0.6;
    animation: showHeading 0.6s linear 1 forwards;
}


@keyframes showContentLeft{
    to{
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes showContentRight{
    to{
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes showHeading{
    to{
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
    }
}