@media (min-width: 768px){
    .left{
        opacity: 0;
        backdrop-filter: blur(20px);
        scale: 3;
        transition: all 1s;
    }
    .showLeft{
        opacity: 1;
        scale: 1;
        backdrop-filter: blur(0);
    }
    
    .middle{
        opacity: 0;
        backdrop-filter: blur(20px);
        scale: 3;
        transition: all 1s;
    }
    .showMiddle{
        opacity: 1;
        scale: 1;
        backdrop-filter: blur(0);
    }
    
    .right{
        opacity: 0;
        backdrop-filter: blur(20px);
        scale: 3;
        transition: all 1s;
    }
    .showRight{
        opacity: 1;
        scale: 1;
        backdrop-filter: blur(0);
    }
}