.indicator {
    position: absolute;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    top: 67%;
    left: 49.6%;
}

.indicator span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1s linear infinite;
}

.indicator span:nth-child(1) {
    top: -2px;
    left: -2px;
    animation-delay: 0s;
}

.indicator span:nth-child(2) {
    top: -2px;
    left: -2px;
    animation-delay: 0.2s;
}

.indicator span:nth-child(3) {
    top: 0;
    left: 0;
    animation-delay: 0.4s;
}

.indicator span:nth-child(4) {
    top: 2px;
    left: 2px;
    animation-delay: 0.6s;
}

.indicator span:nth-child(5) {
    top: 2px;
    left: 2px;
    animation-delay: 0.8s;
}

@keyframes animate {
    0% {
        border-color: #fff;
        transform: translate(0, 0);
    }
    20% {
        border-color: #fff;
        transform: translate(2px, 2px);
    }
    20.1%, 100% {
        border-color: #ffd64a;
    }
}



@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(10px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}
.animate-slide-in {
    animation: slideIn 0.4s ease-out;
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
}


.button-style{
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition: all 0.7s;
}
.button-style:hover{
    color: black;
}
.button-style::before{
    content: "";
    position: absolute;
    background-color: #ffd64a;
    height: 150px;
    width: 200px;
    border-radius: 60px;
    top: 80%;
    left: 80%;
    transition: all 0.7s ease;
    z-index: -10;
}
.button-style:hover::before{
    top: -30%;
    left: -30%;
}
.chatbot {
    max-width: 100%;
    min-width: 300px;
}
.chatbot-messages {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chatbot-messages::-webkit-scrollbar {
    display: none;
}

.buttons-blur-effect{
    background-color: rgba(166, 174, 166, 0.3);
}

.button-style{
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition: all 0.7s;
}
.button-style:hover{
    color: black;

}
.button-style::before{
    content: "";
    position: absolute;
    background-color: #fdb604;
    height: 150px;
    width: 200px;
    border-radius: 60px;
    top: 80%;
    left: 80%;
    transition: all 0.7s ease;
    z-index: -10;
    
}
.button-style:hover::before{
    top: -20%;
    left: -20%;
    border-color: #fdb604;
}


@keyframes modaleffect1 {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modaleffect2 {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.modal-open {
    animation: modaleffect1 0.3s ease-out forwards;
}

.modal-close {
    animation: modaleffect2 0.3s ease-in forwards;
}


.blinking-text{
    animation-duration: 2s;
    animation: blinking 1s infinite linear;
}
@keyframes blinking{
    from{
        color: black;
    }
    to{
        color: white;
    }
}










































/* From Uiverse.io by SnyDeTreves */ 
/*************/
/* Variables */
/*************/

.btn-container {
    --pupil-color: rgb(156, 207, 255);
    --pupil-move: 20%;
    --sensor-height: 150px;
    --sensor-width: 150px;
  }
  .btn-button {
    --back-color: #fff;
  }
  .btn-lid {
    --back-color: transparent;
  }
  
  /**********/
  /* Styles */
  /**********/
  
  /* Container */
  .btn-container {
    position: absolute;
    z-index: 0;
    top: 73%;
    left: 49%;
  }
  
  /* Button */
  .btn-button {
    background: #fff;
    border: 3px solid #000;
    border-radius: 10rem;
    cursor: pointer;
    padding: 0.2rem;
    scale: 0.23;
    position: relative;
    margin: -6.8px;
    z-index: 1000;
  }
  .btn-button:hover,
  .btn-button:hover .btn-lid {
    animation: squint 100ms forwards;
  }
  .btn-button:active .btn-pupil {
    animation: agitate 100ms infinite 500ms;
    border-width: 0.5rem;
    padding: 1rem;
  }
  
  .btn-lid {
    border-radius: 10rem;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 101;
  }
  
  .btn-pupil {
    background: #000;
    border: 0.1rem solid greenyellow;
    border-radius: 10rem;
    padding: 0.1rem;
    transition: all 200ms ease-out;
    background-color: black;
  }
  
  /* Sensors */
  .btn-sensor {
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
    height: var(--sensor-height);
    left: calc(20% - var(--sensor-width) / 2);
    overflow: hidden;
    position: absolute;
    top: calc(50% - var(--sensor-height) / 2);
    transform: rotate(calc(var(--a) * 1deg))
      translateY(calc(var(--sensor-height) * -50 / 100));
    width: var(--sensor-width);
    z-index: 99;
    opacity: 0.3;
  }
  
  /************/
  /* Tracking */
  /************/
  
  .sensor-n:hover ~ .btn-button .btn-pupil {
    transform: translateX(0) translateY(calc(-3 * var(--pupil-move)));
  }
  .sensor-ne:hover ~ .btn-button .btn-pupil {
    transform: translateX(calc(2 * var(--pupil-move)))
      translateY(calc(-2 * var(--pupil-move)));
  }
  .sensor-e:hover ~ .btn-button .btn-pupil {
    transform: translateX(calc(3 * var(--pupil-move))) translateY(0);
  }
  .sensor-se:hover ~ .btn-button .btn-pupil {
    transform: translateX(calc(2 * var(--pupil-move)))
      translateY(calc(2 * var(--pupil-move)));
  }
  .sensor-s:hover ~ .btn-button .btn-pupil {
    transform: translateX(0) translateY(calc(3 * var(--pupil-move)));
  }
  .sensor-sw:hover ~ .btn-button .btn-pupil {
    transform: translateX(calc(-2 * var(--pupil-move)))
      translateY(calc(2 * var(--pupil-move)));
  }
  .sensor-w:hover ~ .btn-button .btn-pupil {
    transform: translateX(calc(-3 * var(--pupil-move))) translateY(0);
  }
  .sensor-nw:hover ~ .btn-button .btn-pupil {
    transform: translateX(calc(-2 * var(--pupil-move)))
      translateY(calc(-2 * var(--pupil-move)));
  }
  
  /**************/
  /* Animations */
  /**************/
  
  @keyframes agitate {
    0% {
      transform: scale(1.2) translate(0%, -10%);
    }
  
    25% {
      transform: scale(1.2) translate(-10%, 10%);
    }
  
    50% {
      transform: scale(1.2) translate(10%, -5%);
    }
  
    75% {
      transform: scale(1.2) translate(-10%, -5%);
    }
  
    100% {
      transform: scale(1.2) translate(10%, 10%);
    }
  }
  
  @keyframes squint {
    0% {
      background: var(--back-color);
    }
  
    25% {
      background: linear-gradient(
        0deg,
        #000 0% 9%,
        var(--back-color) 10% 90%,
        #000 91% 100%
      );
    }
  
    50% {
      background: linear-gradient(
        0deg,
        #000 0% 18%,
        var(--back-color) 19% 81%,
        #000 82% 100%
      );
    }
  
    75% {
      background: linear-gradient(
        0deg,
        #000 0% 27%,
        var(--back-color) 28% 72%,
        #000 73% 100%
      );
    }
  
    100% {
      background: linear-gradient(
        0deg,
        #000 0% 35%,
        var(--back-color) 36% 64%,
        #000 65% 100%
      );
    }
  }
  








































  /* From Uiverse.io by faizanullah1999 */ 
.primary-button {
    font-family: 'Ropa Sans', sans-serif;
       /* font-family: 'Valorant', sans-serif; */
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
   }
   
   .primary-button:hover {
    border: 1px solid #FF4655;
    color: white;
    background-position: 40%;
   }
   
   .primary-button:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .primary-button:hover:before {
    background-color: white;
   }
   
   .primary-button:hover:after {
    background-color: white;
   }
   
   .primary-button:after {
    content: "";
    position: absolute;
    background-color: #FF4655;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
   }
   
   .button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
       /* opacity: 0.3; */
   }
   
   .button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 0px;
       /* opacity: 0.3; */
    z-index: 0;
   }
   
   .shape {
    fill: #0E1822;
   }




























@media (min-width: 426px){
    .clickable{
        width: 30px;
        height: 40px;
    }
    .btn-container {
        --pupil-color: rgb(156, 207, 255);
        --pupil-move: 20%;
        --sensor-height: 190px;
        --sensor-width: 200px;
    }
    .btn-container {
        top: 75%;
        left: 49.1%;
    }
    .btn-button{
        scale: 0.23;
        margin-right: -7px;
    }
    .blinking-text{
        padding: 0 0.28rem;
    }
}

@media (min-width: 520px){
    .btn-container {
        top: 76%;
        left: 49.1%;
    }
    .btn-button{
        scale: 0.3;
        margin-right: -6px;
    }
    .blinking-text{
        padding: 0 0.14rem;
    }
}

@media (min-width: 400px) {
    .blinking-text{
        padding: 0 0.2rem;
    }
}


@media (min-width: 568px){
    .indicator{
        width: 10px;
        height: 10px;
    }
    .clickable{
        width: 40px;
        height: 50px;
    }
    .btn-container {
        --pupil-color: rgb(156, 207, 255);
        --pupil-move: 20%;
        --sensor-height: 260px;
        --sensor-width: 260px;
    }
    .btn-container {
        top: 76.5%;
        left: 49.1%;
    }
    .btn-button{
        margin-right: -4px;
        scale: 0.4;
    }
}
@media (min-width: 640px){
    .indicator{
        width: 8px;
        height: 8px;
    }

    .indicator span:nth-child(1) {
        top: -6px;
        left: -6px;
    }
    
    .indicator span:nth-child(2) {
        top: -6px;
        left: -6px;
    }
    
    .indicator span:nth-child(4) {
        top: 6px;
        left: 6px;
    }
    
    .indicator span:nth-child(5) {
        top: 6px;
        left: 6px;
    }
    .clickable{
        width: 40px;
        height: 50px;
    }
    .btn-container {
        --pupil-color: rgb(156, 207, 255);
        --pupil-move: 20%;
        --sensor-height: 300px;
        --sensor-width: 300px;
    }
    .btn-container {
        top: 77.3%;
        left: 49.3%;
    }


}

@media (min-width: 768px){
    .clickable{
        width: 50px;
        height: 60px;
        left: -40%;
    }
    .btn-container {
        --pupil-color: rgb(156, 207, 255);
        --pupil-move: 20%;
        --sensor-height: 350px;
        --sensor-width: 350px;
    }
    .btn-container {
        top: 78.5%;
        left: 49.2%;
    }
    .btn-button{
        scale: 0.5;
        margin-right: -2px;
    }
}

@media (min-width: 905px){
    .btn-container {
        top: 79%;
        left: 49.2%;
    }
    .btn-button{
        scale: 0.8;
        margin-right: 0px;
    }
}

@media (min-width: 1024px){
    .indicator{
        width: 10px;
        height: 10px;
    }

    .indicator span:nth-child(1) {
        top: -10px;
        left: -10px;
    }
    
    .indicator span:nth-child(2) {
        top: -10px;
        left: -10px;
    }
    
    .indicator span:nth-child(4) {
        top: 10px;
        left: 10px;
    }
    
    .indicator span:nth-child(5) {
        top: 10px;
        left: 10px;
    }
    .clickable{
        width: 70px;
        height: 80px;
        left: -60%;
    }
    .btn-container {
        --pupil-color: rgb(156, 207, 255);
        --pupil-move: 20%;
        --sensor-height: 480px;
        --sensor-width: 480px;
    }
    .btn-container {
        top: 79.6%;
        left: 49.3%;
    }
    .btn-button{
        scale: 0.9;
        margin-right: 2px;
    }
}

@media (min-width: 1200px){
    .btn-container {
        top: 80.3%;
        left: 49.3%;
    }
    .btn-button{
        scale: 1;
        margin-right: 0px;
    }
    .btn-container {
        top: 80.4%;
        left: 49.3%;
    }
    .btn-button{
        scale: 0.9;
        margin-right: 4px;
    }
}

@media (min-width: 1280px){
    .indicator{
        width: 15px;
        height: 15px;
    }

    .indicator span:nth-child(1) {
        top: -15px;
        left: -15px;
    }
    
    .indicator span:nth-child(2) {
        top: -15px;
        left: -15px;
    }
    
    .indicator span:nth-child(4) {
        top: 15px;
        left: 15px;
    }
    
    .indicator span:nth-child(5) {
        top: 15px;
        left: 15px;
    }
    .clickable{
        width: 90px;
        height: 100px;
        left: -80%;
    }
    .btn-container {
        --pupil-color: rgb(156, 207, 255);
        --pupil-move: 20%;
        --sensor-height: 600px;
        --sensor-width: 600px;
    }
    .btn-container {
        top: 80.4%;
        left: 49.3%;
    }
    .btn-button{
        scale: 1;
        margin-right: 6px;
    }
    .blinking-text{
        top: 22%;
        right: 13.9%;
    }
}



@media (min-width: 930px){
    .blinking-text{
        padding: 0 0.4rem;
    }
}
@media (min-width: 1150px){
    .blinking-text{
        padding: 0 0.6rem;
    }
}
@media (min-width: 1220px){
    .blinking-text{
        top: 21.4%;
        padding: 0 0.6rem;
}

@media (min-width: 1362px) {
    .blinking-text{
        width: 90px;
    }
}
@media (min-width: 1536px) {
    .blinking-text{
        width: 102px;
        height: 60px;
    }
}


@media (max-width: 768px) {
    .chatbot {
        bottom: 10%;
        right: 5%;
        width: 90%;
    }

    .chatbot-header {
        font-size: 0.9rem;
    }

    .chatbot-messages {
        height: 200px;
    }

    .chatbot-input input {
        font-size: 0.9rem;
    }

    .chatbot-input button {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .chatbot {
        bottom: 5%;
        right: 5%;
        width: 95%;
    }

    .chatbot-header {
        font-size: 0.8rem;
    }

    .chatbot-messages {
        height: 150px;
    }

    .chatbot-input input,
    .chatbot-input button {
        font-size: 0.8rem;
    }
}

}