.border-bottom-class {
    padding: 0.4rem;
    position: relative;
    transform-origin: left;
}

.border-bottom-class::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 3px solid #fdb604;
    transition: width 0.3s ease;
    transform-origin: left;
}

.border-bottom-class:hover::before {
    width: 100%;
}

.button-style{
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition: all 0.7s;
}
.button-style:hover{
    color: black;
}
.button-style::before{
    content: "";
    position: absolute;
    background-color: #fdb604;
    height: 150px;
    width: 200px;
    border-radius: 60px;
    top: 80%;
    left: 80%;
    transition: all 0.7s ease;
    z-index: -10;
}
.button-style:hover::before{
    top: -30%;
    left: -30%;
}


